@charset "UTF-8";
/* Ajout d'une GRID 4 par 4 de taille égale */
/* margin var */
/* color var */
/* ==============
    Typography
================ */
@font-face {
  font-family: "bitmapPix";
  src: url(/assets/fonts/bitmapPix.ttf);
  font-weight: normal;
  font-style: normal;
}

/* =========
    Global
========== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  font-family: 'bitmapPix', sans-serif;
  color: white;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
}

main h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 50px;
  z-index: 1;
}

main label {
  display: block;
}

/* ===================
   Background style
===================== */
main {
  background: -webkit-gradient(linear, left top, left bottom, from(#92A7FD), to(#B9DBFD));
  background: linear-gradient(#92A7FD, #B9DBFD);
}

#background {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 /5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

#cloud1 {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  width: 10%;
  min-width: 150px;
  height: auto;
  position: absolute;
  z-index: 0;
  -webkit-animation: cloud1 100s linear infinite alternate;
          animation: cloud1 100s linear infinite alternate;
}

@-webkit-keyframes cloud1 {
  0% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes cloud1 {
  0% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

#cloud2 {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  width: 15%;
  min-width: 150px;
  height: auto;
  position: absolute;
  z-index: 0;
  -webkit-animation: cloud2 150s linear infinite alternate;
          animation: cloud2 150s linear infinite alternate;
}

@-webkit-keyframes cloud2 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
  }
}

@keyframes cloud2 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
  }
}

#grass1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#grass2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#grass3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

/* =========================
   Style création de perso
========================== */
#chooseChar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.721);
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  z-index: 2;
}

#chooseChar #char1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
}

#chooseChar #char1 h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

#chooseChar #char1 form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  -ms-grid-column-align: center;
      justify-self: center;
}

#chooseChar #char2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/ 5;
}

#chooseChar #char2 h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

#chooseChar #char2 form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  -ms-grid-column-align: center;
      justify-self: center;
}

#chooseChar #start {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* Buttons and dropdown */
button {
  font-family: inherit;
  font-size: 15px;
  border: 5px grey groove;
  margin: 10px 0 10px 0;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

button:active {
  background-color: darkgray;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

button:focus {
  outline: none;
}

select {
  font-family: inherit;
  padding: 5px 0 5px 0;
}

/* Margin */
.titleChoose {
  margin: 50px 50px 50px 50px;
}

.margpadform {
  margin: 10px 10px 10px 10px;
}

/* =========================
   Style dispotion combat
========================== */
#opponents1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  z-index: 1;
  margin: 50px 50px 50px 50px;
}

#opponents1 #carac1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-column-align: left;
      justify-self: left;
}

#opponents2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  z-index: 1;
  margin: 50px 50px 50px 50px;
}

#opponents2 #carac2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 /3;
  -ms-grid-column-align: right;
      justify-self: right;
  text-align: right;
}

.detailChar {
  margin: 5px 0 5px 0;
  color: black;
}

progress {
  background-color: red;
}

/* ===============
    Log Commande
================ */
#logCommand {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  background-color: #fff4e2;
  border: 10px grey groove;
  z-index: 1;
}

#logCommand #button1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

#logCommand #button2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 /4;
}

#logCommand #log {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 10px 10px 10px 10px;
  color: green;
}

.buttons {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */