/* Ajout d'une GRID 4 par 4 de taille égale */

@mixin grid4by4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

@mixin gridOppo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* margin var */
$marginChar : 50px 50px 50px 50px;
$marginChoose : 10px 10px 10px 10px;


/* ==============
    Typography
================ */

@font-face {
    font-family: "bitmapPix";
    src: url("../assets/fonts/bitmapPix.ttf");
    font-weight: normal;
    font-style: normal;
}

/* =========
    Global
========== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    @include grid4by4();
    font-family: 'bitmapPix', sans-serif;
    color: white;
}

main {
    @include grid4by4();
    height: 100vh;
    grid-column: 1 / 5;
    grid-row: 1 / 5;

    h1 {
        grid-column: 2 / 4;
        grid-row: 1/ 2;
        justify-self: center;
        margin: 50px;
        z-index: 1;
    }

    label {
        display: block;
    }
}

/* ===================
   Background style
===================== */
main {
    background: linear-gradient(#92A7FD, #B9DBFD);
}

// #bgRepeat {
//     grid-column: 1 / 5;
//     grid-row: 3 / 4;
//     background-image: url(/assets/images/grass.png);
//     background-repeat: repeat;
// }

#background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 1 /5;
    grid-column: 1 / 5;
}

#cloud1 {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    width: 10%;
    min-width: 150px;
    height: auto;
    position: absolute;
    z-index: 0;
    animation: cloud1 100s linear infinite alternate;
}

@keyframes cloud1 {
    0% {
        transform: translateX(1500px);
    }

    100% {
        transform: translateX(0px)
    }
}

#cloud2 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    width: 15%;
    min-width: 150px;
    height: auto;
    position: absolute;
    z-index: 0;
    animation: cloud2 150s linear infinite alternate;
}

@keyframes cloud2 {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(1500px)
    }
}

#grass1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    // justify-self: stretch;
}

#grass2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    // justify-self: stretch;
}

#grass3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    // justify-self: stretch;
}

/* =========================
   Style création de perso
========================== */
#chooseChar {
    @include grid4by4();
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.721);
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    z-index: 2;

    #char1 {
        @include grid4by4();
        grid-column: 1 / 3;
        grid-row: 1 / 5;

        h2 {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
            justify-self: center;
        }

        form {
            grid-column: 1 / 5;
            grid-row: 2 / 5;
            justify-self: center;
        }
    }

    #char2 {
        @include grid4by4();
        grid-column: 3 / 5;
        grid-row: 1/ 5;

        h2 {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
            justify-self: center;
        }

        form {
            grid-column: 1 / 5;
            grid-row: 2 / 5;
            justify-self: center
        }
    }

    #start {
        grid-column: 2 / 4;
        grid-row: 4 / 5;
        justify-self: center;
    }

}



/* Buttons and dropdown */
button {
    font-family: inherit;
    font-size: 15px;
    border: 5px grey groove;
    margin: 10px 0 10px 0;
    width: 120px;
    height: 40px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        background-color: darkgray;
        transform: translateY(2px);
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: rgb(133, 133, 133);
    }
}

select {
    font-family: inherit;
    padding: 5px 0 5px 0;
}

/* Margin */
.titleChoose {
    margin: $marginChar;
}

.margpadform {
    margin: $marginChoose;
}

/* =========================
   Style dispotion combat
========================== */
#opponents1 {
    @include gridOppo();
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    z-index: 1;
    margin: $marginChar;

    #carac1 {
        grid-column: 1 / 3;
        justify-self: left;
        padding-bottom: 210px;
    }
}

#pixelChar1 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    justify-self: start;
    align-self: end;
    transform: scaleX(-1);
    width: 35%;
    min-width: 100px;
    z-index: 2;
    visibility: hidden;
}

#pixelChar2 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    justify-self: end;
    align-self: end;
    width: 35%;
    min-width: 100px;
    z-index: 2;
    visibility: hidden;
}

#opponents2 {
    @include gridOppo();
    grid-column: 3 / 5;
    grid-row: 1 / 5;
    z-index: 1;
    margin: $marginChar;

    #carac2 {
        grid-column: 2 /3;
        justify-self: right;
        text-align: right;
        padding-bottom: 210px;
    }
}

.detailChar {
    margin: 5px 0 5px 0;
    color: black;
}

progress {
    height: 20px;
    border-radius: 5px;
    background-color: rgba(160, 160, 160, 0.926);
    border: 5px solid rgb(154, 154, 28);

    &::-webkit-progress-bar {
        background-color: rgba(160, 160, 160, 0.926);
    }

    &::-webkit-progress-value {
        background-color: rgb(230, 86, 86);
    }
}

/* ===============
    Log Commande
================ */
#logCommand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    z-index: 1;
    transform: translateY(275px);
    transition: 200ms ease-in;

    #button1 {
        width: 100%;
        height: 100%;
        align-self: center;
        background-color: #fff4e2;
        border: 10px grey groove;
        grid-column: 1 / 2;
    }

    #button2 {
        width: 100%;
        height: 100%;
        align-items: center;
        background-color: #fff4e2;
        border: 10px grey groove;
        grid-column: 3 /4;
    }

    #log {
        width: 100%;
        height: 100%;
        background-color: #fff4e2;
        border: 10px grey groove;
        grid-column: 2 / 3;
        grid-row: 1 / 1;
        text-align: center;
        color: black;
    }
}

#logs {
    padding: 10px 0 10px 0;
}

.buttons {
    text-align: center;
    align-self: center;
}